body {
    background-image: url("10Octobre2020.jpg");
}
#title {
    margin: auto;
    text-align: center;
    width: 45rem;
    font-size: 5rem;
    background-color: rgba(128, 128, 128, 0.87);
    border-radius: 45%;
}
nav {
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 1rem;
    width: 30rem;
}
nav ul li {
    font-size: 3rem;
    color: antiquewhite;
    list-style-type: none;
}
nav ul li a {
    font-size: 3rem;
    text-decoration: none;
}
