#contact {
    background-image: url(../medias/images/parchemin.png);
    background-color: #211510;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
}
