#racesSection1 {
    background-image: url(../medias/images/races/citoyensAzeroth.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 8em;
}
h1 {
    color: white;
    font-size: 4.3rem;
    text-align: center;
}
h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
}
.imgRacesAlliance {
    border: 1px solid #0078ff;
    position: relative;
    background-image: url(../medias/images/races/backgroundRaces.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imgRacesHorde {
    border: 1px solid #b30000;
    position: relative;
    background-image: url(../medias/images/races/backgroundRaces.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.racesPara {
    color: #f8b700;
    font-weight: 700;
}
#alliance {
    background-image: url(../medias/images/races/alliance.jpg);
    text-align: center;
    padding-bottom: 8rem;
}
#logoAlliance {
    background-image: url(../medias/images/races/Logo-alliance.png);
    width: 4rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    bottom: 2em;
}
#horde {
    background-image: url(../medias/images/races/horde.jpg);
    text-align: center;
    padding-bottom: 8rem;
}
#logoHorde {
    background-image: url(../medias/images/races/Logo-horde.png);
    width: 4rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    bottom: 2em;
}
@media screen and (max-width: 768px) {
    #racesSection1 h1 {
        font-size: 4.3rem;
    }
    .imgRacesAlliance,
    .imgRacesHorde {
        width: 90%;
        height: 90%;
    }
}
@media screen and (max-width: 411px) {
    #racesSection1 h1 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1rem;
    }
    .imgRacesAlliance,
    .imgRacesHorde {
        width: 75%;
        height: 90%;
    }
}
