hr {
    height: 1px;
    width: 100%;
    display: block;
    background: linear-gradient(
        90deg,
        rgba(0, 255, 255, 0),
        rgba(0, 255, 0, 0.2) 10%,
        rgba(0, 255, 0, 0.2) 30%,
        rgba(0, 255, 0, 0.2) 70%,
        rgba(0, 255, 0, 0.2) 90%,
        rgba(0, 255, 255, 0)
    );
}
#myNavbar {
    background: #211510 url(../medias/images/navbar.webp) repeat-x 80px 0;
    width: 100%;
    z-index: 100;
}
nav#myNavbar .nav-link {
    font-size: 1.1rem;
}
nav#myNavbar .nav-link:hover {
    color: #f8b700;
}
#banniere {
    background-image: url(../medias/images/Screenshot_1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 56rem;
}
#boutonPlay {
    background-color: yellowgreen;
    width: 8rem;
    font-size: larger;
    font-weight: bold;
}
#section2 {
    background-image: url("../medias/images/desert.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(224, 224, 224);
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}
p {
    color: #ebdec2;
    font-size: 1rem;
}
.biggerPara {
    color: #ebdec2;
    font-size: 1.224rem;
}

#section3 {
    background-image: url("../medias/images/bg_realms.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(224, 224, 224);
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}
.realms {
    color: #aad372;
    font-size: 1.224rem;
}

#section4 {
    background-image: url("../medias/images/bg_getting_started_desktop.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(224, 224, 224);
    padding-top: 2rem;
    padding-bottom: 5rem;
}
footer {
    background-color: #170e09;
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
}
.carousel-indicators li {
    width: 0.7em;
    height: 0.7em;
    border-radius: 100%;
}
@media screen and (max-width: 768px) {
    #banniere {
        background-image: url("../medias/images/ragnaros.jpg");
        width: 100%;
        height: 50rem;
    }
    nav#myNavbar .nav-link {
        font-size: 1.3rem;
    }
    p {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 411px) {
    #banniere {
        background-image: url("../medias/images/burningCrusade.jpeg");
        width: 100%;
        height: 50rem;
    }
    nav#myNavbar .nav-link {
        font-size: 1rem;
    }
    p {
        font-size: 0.9rem;
    }
}
